:root{
    --background-default:#111;
    --background-transition:#000;
    --background-alternative: #333;
    --letter-default: #eee;

}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background:  var(--background-default);
    color: var(--letter-default);
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover{
    cursor: pointer;
    background: var(--background-transition);
}

.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}
/* navbar */
#navbar{
    width: 100%;
    height: 80px;
    background: var(--background-default);
    color: var(--letter-default);
}

#navbar-container{
    width: 80%;
    height: 100%;

    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1.logo{
    font-size: 2rem;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-items li{
    padding: 10px;
}

/* showcase */

#showcase{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--letter-default);
    background: url('/img/showcase.jpg') no-repeat center center/cover;

    /* overlay */
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}

#showcase-container{
    text-align: center;
}
#showcase-container h2{
    font-size: 2.5rem;
}

#showcase-container p{
    font-size: 1.2rem;
    padding: 10px 0;
}


#clients{
    width: 100%;
    background: var(--letter-default);
    color: var(--background-default);
    padding: 50px;
}

#clients-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}

.client-logo{
    display: inline-block;
    width: 30%;
}

#features{
    background: var(--background-default);
    color: var(--letter-default);
    width: 100%;
    padding: 50px;
}

#features-container{
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    background: var(--background-alternative);
    padding: 20px;
    border-radius: 5px;
}

span.feature-title{
    font-size: 1.5rem;
    font-weight: bold;
}
section#product{
    width: 100%;
    padding: 50px;
}

div#product-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div#items{
    width: 650px;
}

div#items div.item{
    display:flex;
    padding: 10px;
    margin: 15px 0;
    flex-direction: column;
    font-size: 1.2rem;
}